@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Public Blood Bank</h1>
    <p class="lead">This Public Blood Bank ASP.NET MVC web project Created By Mahfuzur Rahman </p>
    <p class="lead">In this Project A person can register by providing his/her details .If anyone want to be donor
    he/she can provide his/her Blood group and also provide his/her last donation date so that other can see this.
    If user need Blood he/she can provide details of needed blood where and who needs. The donor can contact them by provided
    details. A user can also See the donor lists and they can contact them by their contact information</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registerd Users</h2>
        <p>
           We have @ViewBag.Users numbers of User Registered
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Active Blood Requests</h2>
        <p>There are @ViewBag.Requests numbers or Requests of Blood have been made</p>
        
        <p><a class="btn btn-default btn-success" href="~/Request/AllRequests">See Requests &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blood Donated</h2>
        <p>Our Donors have been donated @ViewBag.Donated numbers of times</p>
        <p><a class="btn btn-default btn-success" href="/DonateList/DonorList">See our Doonors &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Blood Got</h2>
        <p>After Blood Request People got blood @ViewBag.Got numbers of times</p>
      
    </div>
</div>